@charset "UTF-8";

* 				{ margin: 0; padding: 0; }
* html .wrapper { height: 100%; }
a img 			{ border: none; }
*				{ list-style-type: none; }
*:focus 		{ outline: none; }
.clear 			{ clear: both; }
header, section, footer, aside, nav, article, div {
  	display: block;
}


html, body 	{ height: 100%;}
html 		{ min-width: 1000px;}

body 		{ font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
h1 			{ font-size: 72px; font-weight: 100; line-height: 108px; }
h2 			{ font-size: 40px; font-weight: 300; line-height: 60px; margin-bottom: 20px; }
h3 			{ font-size: 30px; font-weight: 300; line-height: 45px; margin: 15px 0; }
h4 			{ font-size: 24px; font-weight: 300; line-height: 36px; }
h5			{ font-size: 14px; font-weight: 400; line-height: 21px; margin-bottom: 10px; }
h6			{ font-size: 14px; font-weight: 400; line-height: 21px; color: #808080; }
a 			{ color: #00b289; text-decoration: none; font-weight: 400; }
a:hover		{ text-decoration: underline; }
p 			{ font-size: 17px; font-weight: 400; line-height: 25.5px; }
body.main h2 + p { width: 672px; margin: 0 auto; }

input::-webkit-input-placeholder 	{ font-size: 17px; color: #999; font-weight: 400; font-family: 'Roboto', sans-serif; } 
input::-moz-placeholder				{ font-size: 17px; color: #999; font-weight: 400; font-family: 'Roboto', sans-serif; }

.arrow-corner:before,
.arrow-corner:after {
	content: "";
	display: block;
	position: absolute;
	width: 13px;
	height: 29px;
	top: -2px;
}
.arrow-corner:before {
	background: url("/assets/img/button_left.svg") no-repeat;
	right: 100%;
}
.arrow-corner:after {
	background: url("/assets/img/button_right.svg") no-repeat;
	left: 100%;
}

button {
	background: #00b389;
	display: inline-block;
	padding: 0 31px;
	height: 36px;
	border: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	font-weight: 100;
	margin: 14px 0 0 91px;
	cursor: pointer;
	position: relative;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button.arrow-corner:before,
button.arrow-corner:after {
	width: 16px;
	height: 36px;
	top: 0;
}
button._cansel {
	background: none;
	color: #00b389;
	margin-left: 10px;
}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	cursor: pointer;
	vertical-align: top;
	text-indent: 20px;
	margin-left: -20px;
}
input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 15px;
	background: url("/assets/img/c_sprite.png") no-repeat;
	margin-right: 4px;
}
input[type="checkbox"] + label::before {
	background-position: 0 0;
}
input[type="checkbox"]:checked + label::before {
	background-position: -15px 0;
}
.allChecked + label::before {
	background-position: -30px 0 !important;
}

.wrap {
	width: 896px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
section {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #fff;
	text-align: center;
	padding: 80px 0 64px 0;
	color: #1a1a1a;
}

#preview {
	background: #000 url("/assets/img/bg_1.jpg") fixed no-repeat center center;
	height: 800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	color: #fff;
	padding: 0;
}
body.apple #preview {
	background: #000 url("/assets/img/bg_1.jpg") no-repeat center center scroll !important;
}
#preview h1 {
	padding: 250px 0 35px 0;
	text-shadow: 0.5px 0.866px 3px rgba( 0, 0, 0, .4 );
}
#preview h3 {
	text-shadow: 0.5px 0.866px 3px rgba( 0, 0, 0, .8 );
	/*font-weight: 100;*/
}
#nav.default {
	margin-top: 50px;
	height: 37px;
	width: 100%;
	padding-top: 20px;
	position: absolute;
	left: 0; right: 0;
	z-index: 100;

	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}
#nav.fixed {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding-top: 14px;
    height: 36px;
    background: rgba(255, 255, 255, .9);
    z-index: 200;
    border-bottom: 1px solid #e5e5e5;

    -webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}
#nav.fixed ul li a {
	color: #1a1a1a;
}
img#nav-logo-fixed {
	width: 107px;
	height: 15px;
	display: inline-block;
	margin-top: 2px;
}
#nav.fixed ul li.entry-form a{
	color: #fff;
}
#nav ul li {
	float: left;
	margin-left: 125px;
}
#nav ul li:first-child {
	margin-left: 0;
}
#nav ul li a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	padding-top: 14px;
}
#nav ul li a.active {
	color: #00b389;
}
#nav ul li.entry-form {
	float: right;
	position: relative;
}
#nav ul li.entry-form a {
	background: #00b389;
	display: block;
	padding: 7px 2px;
	text-transform: uppercase;
	margin-top: -2px;
	font-weight: 500;

	height: 29px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#nav ul.centering {
	margin: 0 auto;
	width: 500px;
}
#nav ul.centering li {
	margin-left: 60px;
}

#portfolio {
	padding: 80px 0 125px 0;
}
#portfolio .wrap {
	position: static;
}
.slider {
	margin-top: 64px;
	background: url("/assets/img/laptop.png") no-repeat;
	width: 1206px;
	height: 694px;
	margin-left: -155px;
}

/* Slider */
.slider-wrap {
	width: 885px;
	height: 554px;
	margin: 0 auto;
	position: relative;
	top: 48px;
	overflow: hidden;

	border: 1px solid #090806;
}
.slide {
    width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: auto;
}
.slide span {
	position: relative;

    outline: 1px dotted #f00;
}
.sli-links { /* Кнопки смены слайдов */
    margin-top: 22px;
    text-align: center;
}
.sli-links .control-slide {
    margin: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    vertical-align: middle;
    cursor: pointer;
}
.sli-links .control-slide.active {
    background: transparent;
    border: 2px solid #00b289;
    margin: 8px;
}
.prewButton,
.nextButton {
	display: block;
	position: absolute;
	width: 80px;
	height: 99px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 5px;
	background: rgba(255,255,255,.9);
	z-index: 100;
}
.prewButton {
	left: 10px;
}
.nextButton {
	right: 10px;
}
.prewButton:after,
.nextButton:after {
	content: "";
	display: block;
	height: 38px;
	margin: 31px auto;
}
.prewButton:after {
	background: url("/assets/img/prev.svg") no-repeat center center;
}
.nextButton:after {
	background: url("/assets/img/next.svg") no-repeat center center;
}
.description {
	position: relative;
	top: 200px;
	margin-top: 14px;
}
/* end Slider */

#disposal {
	background: #fff;
}
#disposal:after {
	content: "";
	display: block;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;

	background: rgb(240,244,245); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjRmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(240,244,245) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,244,245)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(240,244,245) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(240,244,245) 0%,rgb(255,255,255) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(240,244,245) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(240,244,245) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f4f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
#disposal ul li {
	width: 43%;
	display: inline-block;
	vertical-align: top;
	margin-top: 64px;
	padding: 0 30px;
}
#disposal ul li img {
	max-width: 100px;
	height: 100px;
}
#disposal ul li h4 {
	width: auto;
}


#team {
	background: #f0f4f5;
}
#team ul li {
	width: 224px;
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-top: 65px;
}
#team ul li.send-cv span {
	color: #1a1a1a;
}
#team ul li.send-cv span.team-desc {
	color: #00b289;
}
#team ul li.send-cv a:hover {
	text-decoration: none;
}
#team ul li img {
	display: block;
	margin: 0 auto 10px auto;
	overflow: hidden;
	max-width: 102px;
	max-height: 98px;
}

.team-name {
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
}

.team-desc {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.contacts {
	float: left;
}
.contacts .contact-details p {
	text-align: left;
	font-size: 17px;
}
.contacts p {
	text-align: left;
	font-size: 17px;
}
.contacts p a {
	display: block;
	margin-bottom: 30px;
}
.contacts ul.social {
	height: 30px;
}
.contacts ul li {
	float: left;
	margin-right: 8px;
}
.contacts ul.address {
	margin-bottom: 64px;
}
.contacts ul.address li {
	float: none;
}
.contacts p.copy {
	margin-top: 28px;
}
.map {
	width: 306px;
	height: 295px;
	float: right;
}

/*Blog*/
body.blog .content {
	margin: 83px 0 74px 0;
}
body.blog section {
	text-align: left;
	width: 896px;
	margin: 0 auto;
	padding: 20px 0;
}
body.blog h2 {
	color: #1a1a1a;
}
body.blog .content ul li {
	font-size: 17px;
	font-weight: 400;
	line-height: 25.5px;
	list-style-type: disc;
	color: #808080;
	margin-left: 20px;
}
body.blog .content section a {
	text-decoration: none;
}
p.time {
	color: #808080;
	margin: 0 0 23px 0;
	width: 100%;
}
p.time > span {
	color: #00b389;
	margin-left: 14px;
}
p.time > span.no-comments {
	color: #1a1a1a;
}
body.blog .pic {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 11px;
}
body.blog .pic.inner {
	width: 100%;
	height: 100%;
}
body.blog .pic img {
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
}
.footer .contacts {
	width: 100%;
}
.footer .contacts .contact-details {
	float: right;
	margin-top: -23px;
}

/*Articles*/
body.articles h2 {
	margin: 20px 0;
}
body.articles h4 {
	margin: 10px 0;
}
body.articles h6 {
	text-align: center;
}
body.articles h1, 
body.articles h2, 
body.articles h3, 
body.articles h4, 
body.articles h5 { margin-top: 40px; }

body.articles .content ul li {
	list-style-type: disc;
	color: #808080;
	line-height: 25.5px;
	margin-left: 18px;
}
body.articles .content ol li {
	list-style-type: decimal;
	color: #808080;
	line-height: 25.5px;
	margin-left: 18px;
}
figure {
    margin: 33px auto;
    display: block;
    max-width: 100%;
    text-align: center;
   }
figcaption { 
   margin-top: 32px;
}
.like {
	float: left;
	margin-top: 23px;
}
.authorization {
	margin-top: 88px;
}
.authorization h6 {
	text-align: left !important;
}
.authorization img {
	display: inline-block !important;
	margin-right: 16px !important;
	margin-top: 24px !important;
}
.post-comment textarea {
	width: 601px;
	height: 112px;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 10px 20px;
	font-size: 17px;
	color: #333;
	font-weight: 100;
	resize: none;
}
#comment {
	margin-left: 16px;
	padding: 0;
}
body.articles .footer {
	margin-top: 120px;
}

/*Portfolio*/
.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -110px;
}
.wrapper .wrap {
	padding-top: 72px;
	margin-bottom: 120px;
	width: 926px;
}
ul.block-preview li {
	float: left;
	width: 308px;
	height: auto;
	text-align: center;
	padding: 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul.block-preview li a:hover {
	text-decoration: none;
}
ul.block-preview li img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}
ul.block-preview li h4 {
	color: #1a1a1a;
}
.push {
	height: 100px;
}

/*Control Case*/
.control {
	height: 300px;
}
.control .target-link {
	text-align: center;
	font-size: 18px;
	padding-top: 42px;
}
.control .target-link p {
	display: inline-block;
}
.control .target-link img {
	margin-left: 4px;
}
.control a.target-portf {
	display: block;
	text-align: center;
	margin-top: 67px;
	font-size: 14px;
	width: 100px;
	position: relative;
	left: 50%;
	margin-left: -50px;
}
.control a.target-portf span {
	display: block;
	margin-top: 4px;
}
.control .target-next,
.control .target-prev {
	font-size: 14px;
	display: inline-block;
	margin-top: -16px;
}
.control .target-prev {
	float: left;
}
.control .target-next {
	float: right;
}
.control h4.target-next,
.control h4.target-prev {
	margin-top: -58px;
	font-size: 24px;
}

/*Contacts*/
body.contact .map {
	position: absolute;
	width: 100%;
	height: 100%;
}
body.contact .contacts {
	background: rgba(255, 255, 255, .9);
	width: 100%;
}
body.contact .contacts .contact-details {
	margin-top: 20px;
}
body.contact .contacts p {
	text-align: center;
}
body.contact .contacts ul.address {
	margin-bottom: 20px;
}
body.contact .contacts ul.address li {
	float: none !important;
	margin-left: 0 !important;
}

/* Price */
body.prices .wrapper .wrap {
	width: 100%;
}
.wrapper.price {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -130px;
}
.topNav.price { padding: 20px 40px; }
.topNav.price nav a:hover,
.topNav.price nav a.active { color: #333; }
.topNav.price h3 { color: #333 !important; }

.topNav.price div { float: right; color: #808080; }

.selection {
	max-width: 900px;
	margin: 0 auto;
	background: #fff;
	text-align: center;
}
.selection h2 { 
	text-align: center; 
	padding-top: 30px;
}

.selection ul.rate {
	margin-top: 40px;
}
ul.rate li {
	max-width: 280px;
	float: left;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
}
ul.rate li:hover .fotoImg {
	width: 262px;
	height: 262px;
	border-radius: 150px;
	border: 2px solid #00cc9c;
}
ul.rate li.active:hover .fotoImg {
	border: 2px solid #fff;
}
ul.rate li .fotoImg {
	max-width: 280px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 27px;
	position: absolute;
	top: 0;
	border-radius: 150px;
	border: 2px solid #fff;
	width: 262px;
	height: 262px;
	margin-left: 7px;
}
ul.rate li .fotoImg.left,
ul.rate li .fotoImg.middle,
ul.rate li .fotoImg.right,
ul.rate li.active .fotoImg.left,
ul.rate li.active .fotoImg.middle,
ul.rate li.active .fotoImg.right 	{ background: url("../img/sitesprites.png") no-repeat; }

ul.rate li .fotoImg.left 			{ background-position: -5px -5px; 	}
ul.rate li .fotoImg.middle 			{ background-position: -271px -5px; }
ul.rate li .fotoImg.right 			{ background-position: -537px -5px; }

ul.rate li.active .fotoImg.left 	{ background-position: -5px -271px;   }
ul.rate li.active .fotoImg.middle 	{ background-position: -271px -271px; }
ul.rate li.active .fotoImg.right 	{ background-position: -537px -271px; }

ul.rate li .fotoImg:after {
	content: "";
	display: block;
	background: url("../img/_shop.svg") no-repeat;
	width: 102px;
	height: 100px;
	position: absolute;
	top: 80px;
	left: 80px;
}
ul.rate li .fotoImg.middle:after {
	background: url("../img/_corp.svg") no-repeat;
}
ul.rate li .fotoImg.right:after {
	background: url("../img/_start.svg") no-repeat;
}
ul.rate li .fotoImg img {
	width: 260px;
	height: 260px;
	padding: 1px;
}

ul.rate li .fotoimg-wrap 				{ width: 262px; height: 262px; margin-bottom: 27px; position: relative; }
ul.rate li .fotoImg.active-img 			{ display: none; position: absolute; top: 0; }
ul.rate li .fotoImg.active-img.left 	{ background-position: -5px -271px; }
ul.rate li .fotoImg.active-img.middle 	{ background-position: -271px -271px; }
ul.rate li .fotoImg.active-img.right 	{ background-position: -537px -271px; }

ul.rate li:hover .fotoImg.active-img 	{ border: 2px solid #fff !important; }

.info {
	background-color: #ebf2f1;
	width: 100%;
	margin-top: 30px;
}
.bd {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ebf2f1;
	position: absolute;
	top: -10px;
	left: 140px;
}
#tab2 .triangle {
	left: 440px;
}
#tab3 .triangle {
	left: 740px;
}
.details-info {
	display: none;
}
.details-info .detail {
	float: left;
	padding: 35px 12px 20px 12px;
	max-width: 276px;
}
.details-info .detail h4._title {
	font-weight: 500;
	text-align: center;
}
.details-info .detail h4._title + h4 {
	text-align: center;
}
div.stars { width: 100%; }
span.star {
	background: url("../img/star.svg") repeat 0 0;
	display: block;
	margin-bottom: 10px;
	margin: 0 auto;
}
span.star.s-3 {
	width: 74px;
	height: 18px;
}
span.star.s-4 {
	width: 100px;
	height: 18px;
}
span.star.s-5 {
	width: 127px;
	height: 18px;
}
.details-info .detail .stars {
	padding: 15px 0; 
}
	
@font-face {
  font-family: 'rouble';
  src: 	url('/assets/fonts/rouble.eot');
  src: 	url('/assets/fonts/rouble.woff') format('woff'), 
  		url('/assets/fonts/rouble.ttf') format('truetype'), 
  		url('/assets/fonts/rouble.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rub { font-family: 'rouble'; }
.details-info .detail .result h4 span {
	display: inline-block;
}
.details-info .detail .list {
	border-top: 1px solid #00cc9c;
	border-bottom: 1px solid #00cc9c;
	padding-top: 15px;
}
.details-info .detail .list h4:first-child {
	margin-left: 15px;
}
.details-info .detail .list h4 {
	margin-left: 20px;
}
.details-info .detail ul {
	font-size: 14px;
	color: #808080;
	margin-left: 16px;
	margin-bottom: 15px;
	line-height: 20px;
}
.details-info .detail ul li {
	list-style-type: disc;
}
.details-info .detail ul._add {
	list-style: none;
	margin-left: 0;
}
.details-info .detail ul._add li {
	margin-left: 20px;
	list-style-type: none;
}
.detail ul._add li label a,
.detail ul li a {
	color: #00cc9c;
}
.details-info .detail .result {
	margin-top: 15px;
}
body.prices .zakaz button {
	margin: 0;
}
.zakaz {
	width: 100%;
	padding-bottom: 40px;
	display: inline-block;
}
.zakaz > div {
	display: inline-block;
	float: left;
	width: 300px;
	text-align: center;
}
#details-wrap { width: 5000px; position: relative; overflow: hidden; display: none; }
#details-wrap .details-info { max-width: 900px; display: block; float: left; margin-right: 150px; }
#details-wrap.opened {  }
.bd-wrap { max-width: 900px; overflow-x: hidden; }
#triangle { display: none; }

/*Modal*/
.modalBg {
	position: fixed;
	z-index: 500;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, .9);

	display: none;
}
.modalWin {
	width: 530px;
	padding: 0 75px;
	z-index: 500;

	display: none;
}
.modalWin h2 {
	margin-left: 75px;
	color: #1a1a1a !important;
}
.modalWin label {
	width: 75px;
	display: inline-block;
	font-size: 14px;
	color: #1a1a1a;
}
.modalWin input {
	width: 410px;
	height: 36px;
	padding: 0 20px;
	background: #fff;
	border: 1px solid #333;
	font-size: 17px;
	color: #333;
	font-weight: 100;
	margin-top: 14px;
	position: relative;
}
.modalWin input.phone {
	width: 226px;
}
.modalWin input.error {
	border: 1px solid #ff4d4d;
}
.modalWin p.error-txt {
	width: auto;
	color: #ff4c4c;
}
.form-errors {
	margin: 30px 0 0 75px;
}

body.prices .modalWin h2 {
	line-height: 10px;
}
body.prices .modalWin h4,
body.prices .modalWin .ps p {
	margin-left: 75px;
}
body.prices .modalWin .ps p:first-child {
	margin-top: 20px;
}
.form-errors p { display: none; }

/*404*/
body.error-page { background: #333333; }
body.error-page h1 {
	color: #00cc9c;
	font-size: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -210px;
}
body.error-page #nav.fixed {
	background: #333;
	border: none;
}
body.error-page #nav.fixed ul li a {
	color: #fff;
}

/* Project */
body.portfolio.inner .wrapper .wrap {
	text-align: center;
	position: static;
	margin-bottom: 0;
}
body.portfolio.inner .logo-project {
	margin-bottom: 23px;
}
.slider-outer {
	width: 100%;
	position: relative;
}
.slider-outer .prewButton,
.slider-outer .nextButton {
	top: 35%;
}
.slider.pf {
	margin: 45px auto 0 auto;
	background: url("/assets/img/projects/ted/slider-bg.png") no-repeat;
	width: 896px;
	height: 729px;
}
.slider.pf .slider-wrap {
	width: 822px;
	height: 464px;
	top: 37px;
	border: 0 none;
}
.slider.pf .sli-links {
	margin-top: 45px;
}
.slider.pf .description {
	margin-top: -45px;
	height: 100px;
	position: relative;
}
.slider.pf .description .project-desc {
	position: absolute;
	padding: 5px 10px;
	background-color: rgba( 255, 255, 255, .8 );
	text-align: center;
	width: 560px;
}

.project-desc span {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.bloc {
	margin: 100px auto;
	text-align: center;
}
.bloc.half {
	margin: 50px auto 100px auto;
}
.bloc.null {
	margin: 0 auto;
}
.bloc p {
	margin-bottom: 45px;
	text-align: center;
}
.bloc ul li {
	float: left;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 35px;
}
.bloc ul li:first-child {
	margin: 0 0 25px 0;
}
.bloc li h6 {
	margin-bottom: 15px;
}
.bloc li img {
	border-radius: 3px;
	overflow: hidden;
}
.portfolio.inner .bd {
	text-align: center;
}
.bloc.icons {
	height: 406px;
	background-color: rgb( 9, 92, 165 );
	margin-top: 40px;
	position: relative;
}
.bloc.icons.rmb {
	height: 348px;
	background-color: rgb( 63, 180, 181 );
}
.bloc.icons.pz {
	height: 140px;
	background-color: rgb( 55, 179, 81 );
}
.bloc.icons.xs {
	height: 130px;
	background-color: rgb( 0, 168, 229 );
	margin-top: 40px;
}
.pattern {
	margin: 50px 0 100px 0;
}
.oblique:before {
	content: "";
	display: block;
	background: url("/assets/img/projects/roombion/pattern.png") repeat;
	width: 100%;
	height: 1400px;
	position: absolute;
	left: 0;
	margin-top: -60px;
}
.oblique:after {
	content: "";
	display: block;
	width: 100%;
	height: 1200px;
	background-color: rgb( 255, 255, 255 );
	position: absolute;
	left: 0; right: 0; top: 1200px;
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	-ms-transform: skewY(10deg);
	-o-transform: skewY(10deg);
	transform: skewY(10deg);
}
.pattern:before {
	content: "";
	display: block;
	background: url("/assets/img/projects/pizza/pattern.png") repeat;
	width: 100%;
	height: 732px;
	position: absolute;
	left: 0;
	margin-top: 200px;
}
.pattern-in {
	position: relative;
	z-index: 10;
}
.pattern-in p {
	color: #fff;
}
.pattern-in img {
	border-radius: 4px;
}

